@page "/counter"
@inject SharedState state 

<h1>Counter</h1>

<p id="counter">Current count: @state.Count</p>

<button id="incrementer" class="btn btn-primary" @onclick="state.Increment">Click me</button>

@code 
{      
    protected override Task OnInitializedAsync()
    {
        state.PropertyChanged += (sender, args) =>
        {
            if(args.PropertyName == nameof(state.Count))
            {
                StateHasChanged();
            }
        };

        return base.OnInitializedAsync();
    }
}